<h1>For-Loop Contextual Variable in Angular 19</h1>

@for(user of users; track user; let i = $index; let f = $first; let l = $last) {
<!-- @if(f || l) {
<h3 style="color: red">this is our {{ $index }}, {{ user }}</h3>
} @else {
<h3>this is our {{ $index }}, {{ user }}</h3>
} -->

@if($odd) {
<h3 style="background-color: black; color: white">
  this is our {{ $index }}, {{ user }}
</h3>
} @if($even) {
<h3 style="background-color: green; color: white">
  this is our {{ $index }}, {{ user }}
</h3>
} } @empty() {
<h1>No Record Found</h1>
}
